fieldset div#porigen.col-lg-4 div.input-group span.select2.select2-container.select2-container--default,
fieldset div#pdestino.col-lg-4 div.input-group span.select2.select2-container.select2-container--default,
fieldset div#id_contactos.col-lg-4 div.input-group span.select2.select2-container.select2-container--default,
fieldset div#id_contactos.col-lg-4 div.input-group span.select2.select2-container.select2-container--default.select2-container--below{
    position: absolute;
    width: 90% !important;
}

input.input-precios {
    height: 43px !important;
    border: 0px  !important;
    border-bottom: 1px solid #CCC !important;
    font-size: 30px !important;
    padding-left: 0px !important;
}
label#total{
    color: #990909; height: 50px; border: 0px;font-size: 30px; padding-left: 0px;
}
div#myModal.modal.fade.in div.modal-dialog div.modal-content div.modal-body form div.form-group.col-lg-6 span.select2.select2-container.select2-container--default.select2-container--below,
div#myModal.modal.fade.in div.modal-dialog div.modal-content div.modal-body form div.form-group.col-lg-6 span.select2.select2-container.select2-container--default.select2-container--above.select2-container--open span.selection{
    position: absolute;
    width: 250px !important;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 200px;
}
.custom-input-file .input-file {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}

.modal-content{
    border-radius: 5px;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}

.wizard > .content{
    background: none;
}