@font-face {
    font-family:'R12titulo';
    src:url('../fonts/Langdon.eot?v=4.1.0');
    src:url('../fonts/Langdon.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/Langdon.woff?v=4.1.0') format('woff'), url('../fonts/Langdon.ttf?v=4.1.0') format('truetype'), url('../fonts/Langdon.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal
}

.block {
    position: relative;
    background-image: url("../../global/img/marker.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;

}

a.tooltips {
     background: #000000 none repeat scroll 0 0;
    border-radius: 6px;
    bottom: 30px;
    color: #ffffff;
    font-size: 14px;
    height: 35px;
    left: 50%;
    line-height: 20px;
    margin-left: -76px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: -32px;
    visibility: visible;
    width: 140px;
}


a.tooltips span:after {
    content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
